    </main>
    <footer>
        <p>&copy; {{ current_year }} Yann Ramin. All rights reserved.</p>
        <p>Powered by <a href="https://github.com/theatrus/tenrankai">tenrankai</a></p>
    </footer>
    
    {% comment %} Page-specific JavaScript files {% endcomment %}
    {% if page_js_versioned %}
        {% for js_url in page_js_versioned %}
        <script src="{{ js_url }}"></script>
        {% endfor %}
    {% elsif page_js %}
        {% comment %} Fallback for templates that don't have versioned URLs {% endcomment %}
        {% for js_file in page_js %}
        <script src="/static/{{ js_file }}"></script>
        {% endfor %}
    {% endif %}
</body>
</html>
