{% assign page_title = "About" %}
{% assign meta_description = "Learn more about theatr.us and the person behind the photography" %}
{% include "_header.html.liquid" %}

<div class="container">
    <h2>About theatr.us</h2> 
    
    <p>Hi, my name is Yann. I nominally do software and have done that since the
    late 1990s. I'm really good at embedded systems, Rust, C, C++, distributed
    systems, infrastructure, and have worked at various places including
    Twitter, Lyft, and Airbnb. 

    <p>I'm an expert in Observability and Reliability systems.
    <p>And I like doing hardware projects, software projects, fish (reef and fresh water), pictures (of things), and space (and pictures of space). And more importantly, the intersection of all of those.
    
    <p>Need to get in contact? Try the Contact tab. 
    <!-- Example of using the gallery preview component with custom parameters -->
    <div style="margin-top: 3rem;">
        {% include "_gallery_preview.html.liquid" gallery_name: "main", gallery_url: "/gallery" %}
    </div>
</div>

{% include "_footer.html.liquid" %}
