    </main>
    <footer>
        <p>&copy; {{ current_year }} Yann Ramin. All rights reserved.</p>
        <p>Powered by <a href="https://github.com/theatrus/tenrankai">tenrankai</a></p>
    </footer>
</body>
</html>
